


.container-box1{
     background:black;
   
}

.container-box2{
     background:grey;
     
}

.container-box3{
     background:brown;
     
}

.box1{
width:100%;
height:648px;
background-color:blue;
}

.box2{
width:100%;
height:400px;
background-color:green;
}


.box6{
width:100%;
height:224px;
background-color:burlywood;
}

.box7{
width:100%;
height:224px;
background-color:blue;
}




.droneimage{
    width:100%;
    position:relative;
    animation:droneimage;
    animation-duration:1s;
    animation-fill-mode: forwards;
}

@keyframes droneimage{
    0% {left:-1000px}
    100%{left:0px}
   }


   
.specification{
    width:100%;
    position:relative;
    animation:specification;
    animation-duration:2s;
    animation-fill-mode: forwards;
  }
  @keyframes specification{
    0% {left:1000px}
    100%{left:0px}
   }

   .review{
  width:100%;
    position:relative;
    animation:review;
    animation-duration:3s;
    animation-fill-mode: forwards;
  }

  @keyframes review{
    0% {left:1000px}
    100%{left:0px}
   }

     .wheretobuy{
    width:100%;
    position:relative;
    animation:wheretobuy;
    animation-duration:4s;
    
    animation-fill-mode: forwards;
  }
  
  @keyframes wheretobuy{
    0% {left:1000px}
    100%{left:0}
   }