@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body{
    margin:0;
    background-color: black;
    font-family: 'Montserrat', sans-serif; 
}

/*navbar*/
.navbar{
    background-color: black;
}
/*end navbar*/


/*hoover links*/

a:link {
  color:red;
   text-decoration: none;
}
a:visited {
  color:red;
   text-decoration: none;
}

a:hover {
  color: white;
   text-decoration: none;
}

a:active {
  color:red;
   text-decoration: none;
}
/*end hoover links*/

/*h colors*/

h4, h5{
    color:red;
}
h1, h2, h6{
    color:white;
}

h3{
    color:black;
}
/*end h4*/


.container-intro{

}


.container-welcome{
    margin:0;
}

/*welcome text*/
.welcometext{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.span{
    opacity:0;
    transition: all 1s ease;
    
}

.fade{
    opacity: 1;
   
}
hr{ display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
 }


/*end welcome text*/

.container-menubox-9-drones{
   background-color:black;
}

.container-box1{
    
}

.container-box2{
     background:grey;
    
     
}

.container-box3{
     background:brown;
   
     
}

.box1{
width:100%;
height: 50vh;
background-color:black;
}

.box2{
width:100%;
height: 50vh;
background-color:black;
}


.box3{
width:100%;
height: 50vh;
background-color:black;
}

.box4{
width:100%;
height: 50vh;
background-color:black;
}

.box5{
width:100%;
height: 50vh;
background-color:black;
}
.box6{
width:100%;
height: 50vh;
background-color:black;
}




.box7{
width:100%;
height: 40vh;
background-color:rgb(218, 32, 178);
}

.box8{
width:100%;
height: 40vh;
background-color:rgb(247, 116, 116);
}


.box9{
width:100%;
height: 40vh;
background-color:rgb(145, 223, 138);
}



.droneimage{
    width:100%;
    position:relative;
    animation:droneimage;
    animation-duration:1s;
    animation-fill-mode: forwards;
}

@keyframes droneimage{
    0% {left:-1000px}
    100%{left:0px}
   }


   
.specification{
    width:100%;
    position:relative;
    animation:specification;
    animation-duration:2s;
    animation-fill-mode: forwards;
  }
  @keyframes specification{
    0% {left:1000px}
    100%{left:0px}
   }

   .review{
  width:100%;
    position:relative;
    animation:review;
    animation-duration:3s;
    animation-fill-mode: forwards;
  }

  @keyframes review{
    0% {left:1000px}
    100%{left:0px}
   }

     .wheretobuy{
    width:100%;
    position:relative;
    animation:wheretobuy;
    animation-duration:4s;
    
    animation-fill-mode: forwards;
  }
  
  @keyframes wheretobuy{
    0% {left:1000px}
    100%{left:0}
   }